@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-ExtraBold.woff2") format("woff2"),
    url("assets/fonts/Poppins/Poppins-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-ExtraBoldItalic.woff2") format("woff2"),
    url("assets/fonts/Poppins/Poppins-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-BoldItalic.woff2") format("woff2"),
    url("assets/fonts/Poppins/Poppins-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-Italic.woff2") format("woff2"),
    url("assets/fonts/Poppins/Poppins-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-ExtraLight.woff2") format("woff2"),
    url("assets/fonts/Poppins/Poppins-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-ExtraLightItalic.woff2")
      format("woff2"),
    url("assets/fonts/Poppins/Poppins-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-Medium.woff2") format("woff2"),
    url("assets/fonts/Poppins/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-Light.woff2") format("woff2"),
    url("assets/fonts/Poppins/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-LightItalic.woff2") format("woff2"),
    url("assets/fonts/Poppins/Poppins-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-Regular.woff2") format("woff2"),
    url("assets/fonts/Poppins/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-Thin.woff2") format("woff2"),
    url("assets/fonts/Poppins/Poppins-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-ThinItalic.woff2") format("woff2"),
    url("assets/fonts/Poppins/Poppins-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-MediumItalic.woff2") format("woff2"),
    url("assets/fonts/Poppins/Poppins-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-SemiBoldItalic.woff2") format("woff2"),
    url("assets/fonts/Poppins/Poppins-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-SemiBold.woff2") format("woff2"),
    url("assets/fonts/Poppins/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-BlackItalic.woff2") format("woff2"),
    url("assets/fonts/Poppins/Poppins-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-Bold.woff2") format("woff2"),
    url("assets/fonts/Poppins/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-Black.woff2") format("woff2"),
    url("assets/fonts/Poppins/Poppins-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: Teko;
  src: url(assets/fonts/Teko/Teko-Regular.ttf);
}
@font-face {
  font-family: Sarabun;
  src: url(assets/fonts/Sarabun/Sarabun-Regular.ttf);
}
@font-face {
  font-family: DM Sans;
  src: url(assets/fonts/DM_Sans/DMSans-Regular.ttf);
}
.whats-new {
  display: flex;
}
.top-date {
  display: flex !important;
}

.top-date h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 70px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #222222;
}
.top-date span {
  margin-top: -10px;
  margin-left: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  display: flex;
  align-items: center;

  color: #222222;
}

.top-new {
  display: flex;
}
.top-new .vr-line {
  margin-top: 18px;
  margin-left: 10px;
  background: #034460;
}
.top-new button {
  margin-left: 10px;
  margin-top: 20px;
  background: #fac241;
  border-radius: 1px;
  padding: 5px 10px 5px 10px;
  color: #fff;
  text-align: center;
}
.top-new button:hover {
  margin-left: 10px;
  margin-top: 20px;
  background: #ffcb52;
  border-radius: 1px;
  padding: 5px 10px 5px 10px;
  color: #fff;
  text-align: center;
}

.top-new button span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.new-cnt p {
  margin-top: 26px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;

  color: #222222;
}
.gov-default {
  width: 100%;
  display: flex;
  margin-top: 10px;
  justify-content: end;
  align-items: center;
}

.main-defaults {
  position: relative;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  padding: 2px 10px 2px 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;
}
.top-vr-line-1 {
  position: absolute;
  top: 4px;
  left: 65px;
  padding-left: 9px;
}
.top-vr-line-2 {
  position: absolute;
  top: 4px;
  left: 180px;
  padding-left: 18px;
}
.top-chg-button a {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #020626;
}
.skip-cnt a {
  padding-left: 10px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  color: #020626;
}
.screen-reader a {
  padding-left: 10px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  color: #020626;
}

.language-chg p {
  margin-top: 15px;
  display: flex;
  justify-content: end;
  margin-left: 20px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #020626;
}

.top-social {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.top-social .logo-div {
  margin-left: 5px;
  width: 35px;
  height: 35px;
  border-radius: 3px;
  background: #f7b20f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-social .logo-div:hover {
  margin-left: 5px;
  width: 35px;
  height: 35px;
  border-radius: 3px;
  background: #c39220;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-social .logo-div img {
  width: 15px;
}

.logo-heading h4 {
  margin-top: 45px;
  font-family: "Teko";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  color: #09274c;
}
.logo-heading p {
  margin-top: -15px;
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #5c7ca3;
}
.tn-logo {
  margin-top: 15px;
}
.minister {
  display: flex;
  justify-content: center;
}
.cm-logo-cnt {
  margin-left: 15px;
}
.cm-logo-cnt h4 {
  margin-top: 30px;
  font-family: "Teko";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  color: #09274c;
}

.cm-logo-cnt p {
  margin-top: -15px;

  font-family: "Sarabun";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #5c7ca3;
}

.navbar-nav .nav-link.active {
  color: #f7b20f !important;
}
.navbar-nav .nav-link.show {
  color: #f7b20f !important;
}

.nav-link {
  color: #f7b20f;
}
.publication ul li a {
  text-align: left !important;
}
.special-init ul li a {
  text-align: left !important;
}

.navbar ul li a {
  /* display: flex;
  align-items: center; */
  text-align: center;
  margin: 0px 8px 0px 8px;
  color: #fff;
  justify-content: space-evenly;
}
.navbar li a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-transform: capitalize;
}
.navbar li a:hover {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-transform: capitalize;
  color: #f7b20f !important;
}

.news-tcker-btn button {
  background: #f7b20f;
  border-radius: 1px;
  border: #f7b20f;
}
.news-tcker-btn span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  text-align: center;

  color: #ffffff;
}
.news-tcker-btn button:hover {
  background: #ffcb52;
  border-radius: 1px;

  color: #fff;
  text-align: center;
}
.news-tick-cnt {
  display: flex;
  justify-content: left;
}
.news-tick-cnt p {
  margin-top: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;

  color: #000000;
}

.slider-1 {
  position: relative;
}
/* .slider-cnt {
  position: absolute;
  top: 10px;
  left: 100px;
} */
.slider-img img {
  max-width: 1500px !important;
  box-shadow: inset 0 0 85px rgba(0, 0, 0, 0.4);
}
.hero-slider .swiper-button-next {
  position: absolute;
}
.hero-slider .slide-inner {
  position: relative;
  right: 0;
}

.hero-slider .swiper-button-prev {
  position: absolute;
}
/* .slider {
  height: 550px;
  background: url(assets/image/slider-1.png) no-repeat center;
} */

.slider-cnt {
  padding: 100px 0px 150px 0px;
}

.slider-cnt h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;

  text-transform: capitalize;

  color: #ffffff;
}

.slider-cnt p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;
}

.slider-img {
  position: relative;
}

/* New tickker */

.fas {
  margin-right: 4px !important; /*override*/
}

.pagination .fas {
  margin-right: 0px !important; /*override*/
}

.pagination a {
  color: #fff;
}

.card ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

/* New tickker End */

.news-item {
  padding: 4px 4px;
  margin: 0px;
  border-bottom: 1px dotted #555;
}

.slider-img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(rgba(84, 84, 84, 0.5), rgba(0, 0, 0, 0.5));
}

.sub-slider {
  display: flex;
  position: relative;
  margin-top: -80px;
  z-index: 10;
}
.sub-slider p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;

  color: rgba(255, 255, 255, 0.7);
}
.sub-slider span {
  margin-top: -10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 0.7);
}
.lat-news h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #292929;
}

.lat-news p {
  margin-top: -10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;

  display: flex;
  align-items: center;

  color: #666666;
}

.lat-viewmore button {
  background: #f7b20f;
  border-radius: 2px;
  border: #f7b20f;
  padding: 10px 25px 10px 25px;
}
.lat-viewmore button:hover {
  background: #ffd87e;
  border-radius: 2px;
}
.lat-viewmore button span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.lat-img {
  position: relative;
}

.lat-img-btn {
  position: absolute;
  top: -2px;
}

.lat-img-btn button {
  background: #f7b20f;
  border-radius: 2px;
  border: #f7b20f;
}
.lat-img-btn button:hover {
  background: #ffd87e;
  border-radius: 2px;
}
.lat-img-btn button span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.lat-img-cnt h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #000000;
}

.lat-img-cnt p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: #666666;
}

.abt-heading h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #292929;
}

.abt-heading p {
  margin-top: -10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;

  display: flex;
  align-items: center;

  color: #666666;
}
.abt-cnt p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  color: #666666;
}

.abt-cnt button {
  background: #f7b20f;
  border-radius: 1px;
  border: #f7b20f;
  padding: 5px 15px 5px 15px;
}
.abt-cnt button:hover {
  background: #ffd87e;
  border-radius: 2px;
}
.abt-cnt button span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 214px;
  height: 158px;
  border: 1px solid;
  border-color: #e8e9ed;
}

.square h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #034460;

  text-transform: uppercase;
  /* 
  color: #222222; */
}
.weather-grp {
  border-radius: 1px !important;
  background-color: #f7b20f;
  width: 100%;
  border-radius: 1px;
  color: #fff;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;

  text-transform: uppercase;
}

.weather .weather-btn {
  border-radius: 1px !important;
  padding: 9px;
  color: #e8e9ed;
  font-weight: 600 !important;
  outline: #222222;
  background-color: #222222;
  font-size: 12px;
}
.weather-cnt h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;

  /* or 100% */
  color: #ffffff;
}

.weather-cnt span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;

  /* or 100% */

  color: #ffffff;
}

.weather-cnt p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;

  /* or 100% */

  color: rgba(255, 255, 255, 0.8);
}

.weather-cnt h5 {
  margin-top: -15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;

  color: #ffffff;
}

.small-clouds p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12.1px;
  line-height: 24px;
  /* or 198% */

  display: flex;
  align-items: center;
  text-align: right;

  color: #ffffff;
}

.diaster-img {
  position: relative;
}

.disaster-btn-2 {
  position: absolute;
  bottom: -10px;
  right: 0;
}
.disaster h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;

  color: #292929;
}

.disaster-btn button {
  position: absolute;
  margin-top: -50px;
  margin-left: 20px;
  z-index: 2;
  background: transparent;
  border-radius: 2px;
  border: #ffffff 1px solid;
}
.disaster-btn button:hover {
  background: transparent;
  border-radius: 2px;
  border: #ffffff 1px solid;
}
.disaster-btn button span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
.disaster-btn-2 {
  display: flex;
  align-items: center;
  justify-content: end;
}
.disaster-btn-2 button {
  position: relative;
  z-index: 2;
  margin-top: -80px;
  margin-right: 20px;
  background: #f7b20f;
  border-radius: 1px;
  border: #f7b20f;
  padding: 10px;
}
.disaster-btn-2 button:hover {
  background: #ffd87e;
  border-radius: 2px;
}
.disaster-btn-2 button span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.feature-videos h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;

  color: #292929;
}

.feature-videos p {
  margin-top: -10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;

  color: #666666;
}

.feature-viewall button {
  background: #f7b20f;
  border-radius: 2px;
  border: #f7b20f;
  padding: 10px 25px 10px 25px;
}
.feature-viewall button:hover {
  background: #ffd87e;
  border-radius: 2px;
}
.feature-viewall button span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
}

.video-img {
  position: relative;
}
.play-btn {
  position: absolute;
  top: 35%;
  left: 45%;
  /* top: 0;
  left: 50%; */
}
.video-cnt {
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  background-color: #023043;
}
.video-cnt h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;

  color: #ffffff;
}
.video-cnt span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  color: #ffffff;
}

.recent-vid-1 {
  margin-top: 45px;
  position: relative;
  top: 0;
  left: 0;
}
.recent-vid-2 {
  position: relative;
  top: 0;
  left: 0;
}
.recent-video-cnt {
  bottom: 0px;
  padding-bottom: 10px;
  position: absolute;
  bottom: 0;
  left: 10px;
}
.overlay {
  bottom: 0px;
  position: absolute;
  bottom: 0;
}

.recent-video-cnt h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;

  color: #ffffff;
}
.recent-video-cnt span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;

  color: #ffffff;
}

.main-carousel {
  position: relative !important;
}

.car-btn1 {
  position: absolute !important;
  top: 0 !important;
  left: -80px !important;
}
.car-btn2 {
  position: absolute !important;
  right: -80px !important;
}
.car-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;

  color: #ffffff;
}
.card-img1 img {
  border-radius: 5px;
  /* width: 350px; */
}

.card-img2 img {
  border-radius: 5px;
  /* width: 350px; */
}
.card-img3 img {
  border-radius: 5px;
  /* width: 350px; */
}

.car-btn1 span {
  /* position: absolute;
  top: 150px;
  right: 190px; */

  width: 36px;
  height: 36px;
  /* padding: 10px; */
  border: 1px;
  border-radius: 2px;

  background-color: #f7b20f;
  color: #000000;
}
.car-btn2 span {
  /* position: absolute;
  top: 150px;
  left: 190px; */
  width: 36px;
  height: 36px;
  border: 1px;
  border-radius: 2px;

  background-color: #f7b20f;
  color: #000000;
}

/* Footer */

.foot-1 img {
  width: 173px;
  height: auto;
}
.foot-1 p {
  margin-top: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 24px;
  /* or 218% */

  color: #ffffff;
}
.foot-2 p {
  text-align: start;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-transform: capitalize;

  color: #ffffff;
}
.foot-2,
.foot-3 ul {
  list-style-image: url("assets/icons/yellow-arrow.png");
}
.foot-2 li {
  margin-top: 20px;
  margin-left: -20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;

  color: #b6b6b6;
}
.foot-3 p {
  text-align: start;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-transform: capitalize;

  color: #ffffff;
}

.foot-3 li {
  margin-top: 20px;
  margin-left: -20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  /* 
  display: flex;
  align-items: center; */

  color: #b6b6b6;
}
.foot-4 p {
  text-align: start;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-transform: capitalize;

  color: #ffffff;
}

.foot-4 li {
  margin-top: 20px;
  margin-left: -30px;
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  color: rgba(255, 255, 255, 0.8);
}
.cpy-ryt {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;

  color: #999999;
}

.bottom-social {
  margin-top: 20px;
  display: flex;
  justify-content: left;
  /* justify-content: space-evenly;  */
}

.bottom-social .logo-div {
  margin-left: 5px;
  width: 35px;
  height: 35px;
  border-radius: 3px;
  background: #f7b20f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-social .logo-div:hover {
  margin-left: 5px;
  width: 35px;
  height: 35px;
  border-radius: 3px;
  background: #c39220;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-social .logo-div img {
  width: 15px;
}

.foot-to-top {
  display: flex;
  justify-content: end;
}
.foot-to-top button {
  background: #f7b20f;
  border-radius: 1px;
  border: #f7b20f;
  padding: 0px 10px 5px 10px;
}
.foot-to-top button:hover {
  background: #ffd87e;
  border-radius: 2px;
}

.soci-upd h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;

  color: #000000;
}
.soci-upd p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;

  color: #000000;
}

.social-scroll {
  height: 400px;
  overflow-y: scroll;
}
.twitter-icons {
  text-align: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.002);
  box-shadow: 0px 10px 14px rgba(37, 44, 65, 0.12);
}

.fb-icons {
  text-align: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.002);
  box-shadow: 0px 10px 14px rgba(37, 44, 65, 0.12);
}
.insta-icons {
  text-align: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.002);
  box-shadow: 0px 10px 14px rgba(37, 44, 65, 0.12);
}

/* About us */

.bread-crum-abt span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;

  text-transform: capitalize;

  color: #f7b20f;
}

.abt-us-cnt h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;

  color: #292929;
}

.abt-us-cnt p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  color: #666666;
}

.abt-lists ul li {
  padding: 10px;
  margin-top: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: #034460;
  background: #e4eaf7;
  border: 1px solid #e4eaf7;
  border-radius: 6px;
}

.side-latest-news h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;

  color: #292929;
}

.lat-side-img img {
  border-radius: 3px;
}

.lat-side-cnt h4 {
  padding-top: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;

  text-transform: capitalize;

  color: #034460;
}
.lat-side-cnt h5 {
  padding-top: 3px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;

  color: #000000;
}
.lat-side-cnt p {
  padding-top: 3px !important;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;

  text-transform: uppercase;

  color: #666666;
}

.side-categories h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;

  color: #292929;
}

.side-cnt-list {
  padding: 20px;
  /* padding: 20px 10px 20px 70px; */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid #e4eaf7;
  border-radius: 6px;
  background: #09274c;

  display: flex;

  /* justify-content: center; */
}
.side-cnt-list p {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  text-align: left;
}

.side-preardedness h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;

  color: #292929;
}
.side-cnt-btn {
  padding-top: 10px;
}

.side-cnt-btn span {
  background: #e4eaf7;
  padding: 15px;
  border-radius: 3px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;

  color: #292929;
}

.side-cnt-btn .btn-row-2 {
  padding-top: 30px;
}

/* Gallery content */

.gallery-cnt h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;

  color: #292929;
}
/* .card {
  height: 550px !important;
} */
.card-share {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.card-title {
  height: 50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;

  color: #041f42 !important;
}

.card-text {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;

  color: #666666;
}
.list-group li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  color: #666666;
}

.list-group li a {
  color: #041f42;
}
.gallery-overlay-img {
  position: relative !important;
}
.gallery-overlay {
  position: absolute;
  bottom: 0;
}

/* Media querry */

@media (min-width: 320px) and (max-width: 480px) {
  .slider-cnt h4 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 60px;

    text-transform: capitalize;

    color: #ffffff;
  }

  .slider-cnt p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 22px;

    color: #ffffff;
  }

  .top-social {
    margin-top: 20px;
    display: flex;
    justify-content: start;
  }
  .cm-logo-vr {
    height: 0px !important;
  }
  .cm-logo img {
    margin-left: 0px;
  }
  .minister {
    display: contents;
  }
  .minister .cm-logo img {
    width: 50px;
  }
  .cm-logo {
    text-align: center;
  }
  .cm-logo-cnt {
    margin-top: -20px;
    margin-left: 5px;
    text-align: center;
  }
  .cm-logo-cnt h4 {
    font-size: 14px;
  }
  .cm-logo-cnt p {
    font-size: 9px;
  }

  .car-btn1 {
    position: absolute;
    top: 0px;
    left: 0px !important;
  }
  .car-btn2 {
    position: absolute;
    top: 0px;
    right: 0px !important;
  }
  .weather {
    margin-top: 30px;
  }
  .video-img {
    position: relative;
  }
  .play-btn {
    width: 35px !important;
    position: absolute;
    top: 35%;
    left: 43%;
  }
  .video-cnt h4 {
    padding-top: 5px;
    font-size: 10px;
    line-height: 13px;
  }
  .video-cnt span {
    font-size: 8px;
  }
  .feature-viewall button {
    padding: 5px 15px 5px 15px;
  }

  .feature-viewall button span {
    font-size: 8px;
  }

  .recent-vid-1 {
    margin-top: 0px !important;
    left: 11px;
  }
  .recent-vid-2 {
    margin-top: 0px !important;
    left: -11px;
    /* margin-left: -20px; */
  }
  .recent-video-cnt {
    position: absolute;
    left: 5px;
  }
  .recent-video-cnt h4 {
    font-size: 6px;
  }
  .recent-video-cnt span {
    font-size: 5px;
  }
}
